.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 10px;
    height: 50px;

    &__theme-switcher {
        width: 24px;
        height: 24px;
        margin: auto;
    }
    &__burger-menu {
        width: 24px;
        height: 24px;
        margin: auto 0 auto auto;
        text-align: right;
    }
}
.logo {
    margin: auto auto auto 0;
    font-weight: 500;
    font-size: 25px;

    &_orange {
        color: $orange;
    }
}

@media (min-width: 768px) {
    .header {
        grid-template-columns: min-content 1fr min-content;
        margin: 0 38px;
        height: 80px;
        &__menu {
            display: grid;
            grid-template-columns: max-content max-content max-content max-content max-content max-content;
            column-gap: 25px;
            margin: auto 28px;
        }
    }
    .logo {
        font-weight: 600;
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .header {
        grid-template-columns: min-content 1fr min-content;
        margin: 0 135px;
        height: 100px;
        &__menu {
            column-gap: 38px;
            margin: auto 77px;
        }
    }
    .logo {
        font-size: 40px;
    }
    .menu-item {
        font-weight: 500;
        font-size: 20px;
    }
}
