* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 150%;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul li {
    list-style: none;
}

.btn {
    display: block;
    height: 50px;
    padding: 12px 20px;
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
    color: white;
    background-color: $orange;
    border-radius: 5px;
    filter: drop-shadow(4px 5px 8px $irange-shadow);
}

.text_orange {
    color: $orange;
}

@mixin width-control {
    max-width: 1440px;
    margin: 0 auto;
}